<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
  <!-- Import our css -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "frontend/css/main.css" %}"/>
  <link rel="shortcut icon" href="../../static/frontend/logo/favicon.ico"/>
  <title>Intranet Cinepel</title>
</head>
<body>
<div id="root">
    <!-- React will load here -->
</div>
</body>
{% load static %}
<script src="{% static "frontend/main.js" %}"></script>
</html>
