.intranet_classic{
    color:black;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.table {
    background-color: #eee;
    height: 100%;
}

.buttonUser {
    margin: 0 1em 0 0;
}

.buttonCreate {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.selectMonth{
    margin: 0 0 2em 0;
}