/* basic font color*/
.intranet-classic{
    color:black;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* decorate some buttons */
.button-user {
    margin: 0 1em 0 0;
}

.button-create {
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.button-delete {
    margin: 0.5em 0.5em 0.5em 0.5em;
}
.button-delete:hover{
    background-color: red;
}

/* selector*/
.select-month{
    margin: 0 0 2em 0;
}

.select-planning-template{
    text-align: left;
}

/* decorate table*/
.table-container{
    margin: 0 1em;
}

.table-container-schedule{
    margin: 1em 1em;
}

.table-manager{
    height: 47vh;
}

.table-user{
    height: 70vh;
}

.table-schedule{
    height: 70vh;
    width:100%;
}

table{
    width: 100%;
    display: table;
    line-height: 0.8rem;
    border: 1px solid grey;
}

thead, tbody, th, td{
    padding: 0;
    border: 0;
    border: 1px solid grey;
}
th {
    padding: 1px 1px;
    text-align: left;
    background-color: #444663;
    color: white;
}

tr:hover{
    background-color: rgb(254, 255, 169) !important;
}

tr:nth-child{
    background-color: #f2f2f2;
}

td{
    border: 1px solid #ddd;
}

/* input */

.input-values{
    height : 0.8rem !important;
    font-size: 12px !important;
    margin: 0 0 0 0 !important;
    border-bottom: none !important;
    color: black !important;
}

/* navigation */
nav ul a:hover {
    color:#ffffff;
}

nav ul a{
    color:#333333;
    font-size: large;
}
nav {
    background-color: #d9d9d9;
}

/* to show*/
.show-users {
    max-height: 200px;
    overflow: scroll;
    list-style-type: none;
}

.item-user{
    line-height:0.6rem !important;
}

.toast{
    color:black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav ul a{
        font-size: small;
    }
  }